* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    text-align: center;
}


.mese {
  display: none;
  width: 300px;
}

.active {
  display: inline-block;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.riga {
  display: flex;
  flex-direction: row;
  width: 100%;
}


h1 , span {
  display: inline-block;
}

span {
  height: 20px;
}

.red{
  color: red;
}
